In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import csv



df= pd.read_csv('CompleteDataset.csv')

# Certain data are mentioned in dataset which require individual calculation. The below code snippet removes all such discrepencies, adds/subtracts value as required and returns an integer

In [3]:

#=============Balance field=============================#


list_add=[]
list_sub=[]
for i in range(0,len(df['Balance'])):
    if '+' in list(df['Balance'][i]):
        list_add.append(i)
    elif '-' in list(df['Balance'][i]):
        list_sub.append(i)
    else:
        pass
for i in list_add:
    df['Balance'][i]=int(df['Balance'][i].split('+')[0])+int(df['Balance'][i].split('+')[1])
for i in list_sub:
    df['Balance'][i]=int(df['Balance'][i].split('-')[0])-int(df['Balance'][i].split('-')[1])


    
    
    
#===================Ball control field========================#



list_add=[]
list_sub=[]
for i in range(0,len(df['Ball control'])):
    if '+' in list(df['Ball control'][i]):
        list_add.append(i)
    elif '-' in list(df['Ball control'][i]):
        list_sub.append(i)
    else:
        pass
for i in list_add:
    df['Ball control'][i]=int(df['Ball control'][i].split('+')[0])+int(df['Ball control'][i].split('+')[1])
for i in list_sub:
    df['Ball control'][i]=int(df['Ball control'][i].split('-')[0])-int(df['Ball control'][i].split('-')[1])
    
    
    
#==========================CURVE=============================#  
    
list_add=[]
list_sub=[]
for i in range(0,len(df['Curve'])):
    if '+' in list(df['Curve'][i]):
        list_add.append(i)
    elif '-' in list(df['Curve'][i]):
        list_sub.append(i)
    else:
        pass
for i in list_add:
    df['Curve'][i]=int(df['Curve'][i].split('+')[0])+int(df['Curve'][i].split('+')[1])
for i in list_sub:
    df['Curve'][i]=int(df['Curve'][i].split('-')[0])-int(df['Curve'][i].split('-')[1])
    
    
    
    
#==============================================DRIBBLING=======================#   
    

    
list_add=[]
list_sub=[]
for i in range(0,len(df['Dribbling'])):
    if '+' in list(df['Dribbling'][i]):
        list_add.append(i)
    elif '-' in list(df['Dribbling'][i]):
        list_sub.append(i)
    else:
        pass
for i in list_add:
    df['Dribbling'][i]=int(df['Dribbling'][i].split('+')[0])+int(df['Dribbling'][i].split('+')[1])
for i in list_sub:
    df['Dribbling'][i]=int(df['Dribbling'][i].split('-')[0])-int(df['Dribbling'][i].split('-')[1])
    
    
    
    
#=============================FINISHING========================================#    
    
    
    
list_add=[]
list_sub=[]
for i in range(0,len(df['Finishing'])):
    if '+' in list(df['Finishing'][i]):
        list_add.append(i)
    elif '-' in list(df['Finishing'][i]):
        list_sub.append(i)
    else:
        pass
for i in list_add:
    df['Finishing'][i]=int(df['Finishing'][i].split('+')[0])+int(df['Finishing'][i].split('+')[1])
for i in list_sub:
    df['Finishing'][i]=int(df['Finishing'][i].split('-')[0])-int(df['Finishing'][i].split('-')[1])
    
    
    
    
    
#================FREE KICK ACCURACY AS 'FREE KICK'=======================#   
    
    
    
list_add=[]
list_sub=[]
for i in range(0,len(df['Free kick accuracy'])):
    if type(df['Free kick accuracy'][i])!= int:
        if '+' in list(df['Free kick accuracy'][i]):
            list_add.append(i)
        elif '-' in list(df['Free kick accuracy'][i]):
            list_sub.append(i)
        else:
            pass
for i in list_add:
        df['Free kick accuracy'][i]= int(df['Free kick accuracy'][i].split('+')[0])+int(df['Free kick accuracy'][i].split('+')[1])
for i in list_sub:
    df['Free kick accuracy'][i]= int(df['Free kick accuracy'][i].split('-')[0])-int(df['Free kick accuracy'][i].split('-')[1])    

    
    
    
    
    
#====================HEADING ACCURACY AS 'ACCURACY'==========================#    
    
    
    
    
list_add=[]
list_sub=[]
for i in range(0,len(df['Heading accuracy'])):
    if '+' in list(df['Heading accuracy'][i]):
        list_add.append(i)
    elif '-' in list(df['Heading accuracy'][i]):
        list_sub.append(i)
    else:
        pass
for i in list_add:
    df['Heading accuracy'][i]=int(df['Heading accuracy'][i].split('+')[0])+int(df['Heading accuracy'][i].split('+')[1])
for i in list_sub:
    df['Heading accuracy'][i]=int(df['Heading accuracy'][i].split('-')[0])-int(df['Heading accuracy'][i].split('-')[1])

# created another column as Best_Striker where the summation of all the required column is stored

In [83]:
def best_striker():
    df['Best_Striker']=df['Balance'].astype(int)+df['Ball control'].astype(int)+df['Curve'].astype(int)+df['Dribbling'].astype(int)+df['Finishing'].astype(int)+df['Free kick accuracy'].astype(int)+df['Heading accuracy'].astype(int)
    return df[['Name','Club','Nationality']][df['Best_Striker']==df['Best_Striker'].max()]

In [84]:
best_striker()

       Name          Club Nationality
1  L. Messi  FC Barcelona   Argentina

# Best club

In [10]:
def best_club()

    unique_clubs=df['Club'].unique()                                  #unique_club is an array containing unique club names
    average_special= df['Special'].where(df['Club']==unique_clubs[0]).mean() #this will contain highest average special
    best_club=unique_clubs[0]                        #this contains name of best club                        


    for i in unique_clubs:

        temp_val=df['Special'].where(df['Club']==i).mean()
        if temp_val>average_special:
            average_special=temp_val
            best_club=i
    return best_club,average_special

(1961.16, 'FC Barcelona')

In [89]:
#DreamTeam

def dreamTeam():
    s=df.sort_values(by='Special',axis=0, ascending=False, inplace=False)
    return s[['Name','Special']].iloc[0:15]

In [91]:
dreamTeam()

                  Name  Special
3            L. Suárez     2291
59       R. Nainggolan     2286
49            D. Alaba     2278
37            A. Vidal     2278
226        A. Florenzi     2265
15             G. Bale     2263
35            P. Pogba     2238
14           L. Modrić     2228
0    Cristiano Ronaldo     2228
107      Ander Herrera     2213
286          L. Baines     2211
85        C. Marchisio     2210
39             Marcelo     2209
124         Dani Alves     2208
51         Alex Sandro     2207

In [86]:
#BestPlayerInAgeRange

def bestPlayerInAgeRange(age_range):

    age_list=[int(x) for x in age_range.split(',')]

    df1=df[(df.Age>=age_list[0])&(df.Age<=age_list[1])]
    return df1[['Name','Age','Special']][df1['Special']==df1['Special'].max()]

In [88]:
bestPlayerInAgeRange('30,33')

        Name  Age  Special
3  L. Suárez   30     2291